In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
clean_cali = pd.read_csv ("clean_cali.csv")

In [3]:
engine = create_engine ('postgres://postgres:Anabelle1212@localhost:5432/animals.db')

In [7]:
df1= pd.read_sql("Select * From People", engine)

In [8]:
df1

    name  has_pet pet_type    pet_name  pet_age
0  Jacob     True      dog       Misty       10
1  Ahmed     True     rock  Rockington      100
2  Peter     True      cat    Franklin        2
3   Dave     True      dog       Queso        1

In [10]:
df1.to_sql("people_copy", con = engine)

In [ ]:
clean_cali.to_sql ('air_quality', con =engine)